@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
button{text-decoration: none; border: none;}
body{max-width: 100%; height: 100vh;}
.wrap { 
    max-width: 100%; height: 100vh;
 /*    margin-top:1.875em; */
     
}
.gnb {
    position: fixed;
    float: left;
    width: 25%; height: 100vh;
    margin-top:-1.875em;
}
.tab {
    position: fixed;
    float: left;
    width: 25%;
    height: 100vh;
    margin-top: -1.875em;
}
.tab .title {
    display: block;
    text-align: center;
    margin-top:4.875em;
    font-family: 'ONE-Mobile-Title';
    font-size:1.563rem;
}
.tab ul {
    text-align: center;
    margin-top: 9.375em;
}
.tab ul li {
    font-weight: lighter;
    position: relative;
    display: block;
    font-size: 1.25rem;
    padding: 1.563em;
    cursor: pointer;
}
.tab ul li.on::after {
    content: '';
    position: absolute;
    top: 55%; left: 50%;
    transform: translateX(-50%);
    width: 200px; height: 1px;
    background-color: #000;
    transition: all .7s;

}
.tab ul li:after {
    content: '';
    position: absolute;
    top: 55%; left: 50%;
    transform: translateX(-50%);
    width: 0; height: 1px;
    background-color: #000;
    transition: all .7s;
    z-index: -1;
    
}
.tab ul li:hover:after { 
    width: 200px;
    cursor: pointer;
    z-index: -1;
}

.tab ul li a {
    display: block;
    font-size:1.25rem ;
    padding: 1.563em;
}

.tab_content {
    width: 73%; height: 100vh;
    float: right;
    display: none;
}
.tab_content.on {
    display: block;
    transition: all 1.5s;
}
.tab_contentHome {overflow: hidden;}

/* //gnb */

.home {
    width: 73%; height: 100vh;
    position: absolute;
    
}
.Home {position: relative;}
.Myselfe {}
.homeTitle { 
    font-size:4.938rem ;
    margin: 0.625em 0 1.250em 0;
    position: relative;
    color: #ffff;
    font-weight: bold;
    text-shadow: 3px 8px 8px gray;
}
.hom {
    z-index: 10;
    font-family: 'Giants-Inline';
    font-size: 2.938rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.4;
    position: absolute;
    top: 50%; left: 0;   
}
.hom span {color: #f8b55d;}
.tree {
    width:70.500em;
    position: absolute;
    top:0; right: -10%;
}

/* 1 myselfe*/

/* myinfo */
.myInfo { 
    width: 100%; height:70vh;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.myInfo img{
    width: 18.750em;
    border-radius: 35px;
}
.User { 
    margin: 1.875em 0 0 0.938em;
    width:12.500em; height: 300px;
    font-family: 'ONE-Mobile-Regular';
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}
.User > p { line-height: 1.7; position: relative; padding-left: 0.938em;}
.User p::before {
    content: '';
    width: 5px; height: 5px;
    background: #000;
    border-radius: 10px;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
}

.infoArea {
    position: absolute;
    top: 30%; right: 0;
    float: right;
    width: 60%; 
}
.infoArea p {
    font-family: 'ONE-Mobile-Regular';
    color: rgba(0, 0, 0, 0.5);
}

.myInfo2 h3,
.myInfo3 h3 { 
    position: relative;
    letter-spacing: 0.048em;
    margin-left: 1.250em;
    display: inline-block;
    box-shadow: inset 0 -10px 0 #f5c6b3bd;
}
.myInfo2 h3::before,
.myInfo3 h3::before {
    content: '';
    background: #000;
    width: 5px; height: 20px;
    position: absolute;
    top: 50%; left: -1.250em;
    transform: translateY(-50%);

}
.infoArea h2 { 
    font-family: 'ONE-Mobile-Title';
    font-size:2.813rem ;
    display: inline;
    box-shadow: inset 0 -25px 0 #f3d19dbd;
}
.infoArea p {
    font-size:1.25rem;
    margin-top: 1.875em;
    font-size: 1.188rem;
}


/* myInfo2 */
.myInfo2 { 
    overflow: hidden;
    margin-top: 5.000em;
}
.myInfo2 > h3,
.myInfo3 > h3{
    margin-bottom: 0.938em;
    font-family: 'ONE-Mobile-Regular';
    color:  #000;
}
.myInfo2 ul {
    width: 100%;
}
.myInfo2 ul li {
    height: 50px;
    position: relative;
    float: left;
    margin-left: 0.625em;
}

.infoUse ul li > img{ 
    width: 50px;
    border-radius: 10px;
}
.infoUse .sass {
    filter: invert(33%) sepia(80%) saturate(741%) hue-rotate(291deg) brightness(89%) contrast(79%);

}
/* myInfo3 */
.myInfo3 { 
    width: 100%;
    margin-top: 2.875em;
}
.myInfo3 h3 { 
    margin-bottom: 0.938em;
}
.infoMake a {
    font-family: 'ONE-Mobile-Regular';
    display: block;
    position: relative;
    padding-left: 0.938em;
    margin-top: 0.500em;
}
.infoMake a::before {
    content: '';
    width: 5px; height: 5px;
    background: #000;
    border-radius: 10px;
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
}
/* ProjectOverview */
.ProjectOverview {
    width: 100%; height: 15.625em;
    margin-top: 5.000em ;
}
.OverviewArea h2 {
    font-size:1.688rem; 
    position: relative;
    margin-bottom: 1.250em;
}
.OverviewArea h2::before {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    width: 5px; height: 20px;
    position: absolute;
    top: 50%; left: -0.5499999999999998em;
    transform: translateY(-50%);
}
.OverviewArea .Ptext {
    font-size: 1.15rem;
    font-family: 'ONE-Mobile-Regular';
    font-weight: lighter;
    line-height: 1.5;
}

/* 2 first */
.firsthomeTitle {
    font-size:4.938rem ;
    position: relative;
    color: #ffff;
    font-weight: bold;
    border-bottom-left-radius: 40px;
    background: #947c5cec;
    padding: 0 0 10px 20px;
    margin-bottom: 50px;
}
/* .firsthomeTitle::before {
    content: "";
    position: absolute;
    top: 80%; left: 400px;
    transform: translateY(-85%);
    display: block;
    width: 50px;
    height: 50px;
    background: url("../img/logo3ce.png") no-repeat 0 0;
    background-size: 100%;
} */
.firsthomeTitle > span {
    font-size: 2.938rem;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}
/* before */
.before { 
    width: 100%; height: 110vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.beforeCont {
    overflow: scroll;
    float: left;
    width: 50%; height:45.875em ;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(196, 196, 196, 0.74);
}
.beforeCont::-webkit-scrollbar { width: 10px;}
.beforeCont::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 10px;
}
.beforeCont::-webkit-scrollbar-track {border-radius: 10px;}
.firstBF, .firstAT {
    font-size: 2.188rem;
    font-weight: bold;
    display: block;
    color: #947c5cec;
    padding-bottom: 0.313em;
    margin-bottom: 1.250em;
    position: relative;
}
.firstBF::after {
    content: '';
    width: 130px; height: 2px;
    background: #947c5ca6;
    position: absolute;
    top: 100%; left: 0;
}
.firstAT {margin-bottom: 0;}
.firstAT::after {
    content: '';
    width: 105px; height: 2px;
    background: #947c5ca6;
    position: absolute;
    top: 100%; left: 0;
}
.sTitle {
    font-size:2.038rem ;
    margin-bottom:1.625em ;
}
.sTitle > span {
    padding: 5px 7px;
    font-weight: bold;
    border-radius:6px ;
}
.before img {width: 100%;}
.beforeArea {
    float: right;
    position: absolute;
    top: 30.5%; left: 63%;
    width: 21.250em;
}
.firstbeforeTitle {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}
.firstbeforeTitle > span,
.firstbeforeTitle2 > span{ box-shadow: inset 0 -20px 0 #947c5ca6;}
.beforeArea2 {
    float: right;
    position: absolute;
    top: 60%; left: 63%;
    width: 21.250em;
}
.firstbeforeTitle2 {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    
}
.firstbeforeTitle::after {
    content: "";
    position: absolute;
    top: -10px; left: 0;
    transform: translateY(-85%);
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/lamp.png") no-repeat 0 0;
    background-size: 100%;
}
.beforeText {
    font-size: 0.998rem;
    line-height: 1.8;
    
}
.beforeText2 {
    font-size: 0.998rem;
    line-height: 1.8;
}

/* after */
.after {
    width: 100%; height: 120vh;
    margin: 3.125em 0 18.750em 0;
    position: relative;
}
.after .useTo > h1 {
    font-size:3.038rem ;
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 6px 2px gray;
    margin-right: 0.625em;
    margin-bottom: 50px;
}
.after .useTo img {
    width:1.875em ;
    border-radius: 5px;
    margin-top: -60px;

}
.afterCont {
    overflow: scroll;
    float: left;
    width: 50%; height:45.875em ;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgba(196, 196, 196, 0.74);
}
.afterCont::-webkit-scrollbar {
    width: 10px;
}
.afterCont::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 10px;
}
.afterCont::-webkit-scrollbar-track {
    border-radius: 10px;
}

.after img {width: 100%;}
.afterArea {
    float: right;
    position: absolute;
    top:12.500em; left:63%;
    width: 21.250em; height: 43.750em;
    border:  1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.250em;
    text-align: center;
    padding: 1.250em 3.125em;
}
.afterTitle {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 1.250em;
    margin-bottom: 1.250em;
}
.afterTitle > span{ box-shadow: inset 0 -20px 0 #a8d1ff;}
.afterText {
    width: 100%;
    height: 100px;
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: left;
}
.afterText p{ 
    position: relative;
    line-height: 4.5;
    font-size: 1rem;
}

.time span {
    font-family: 'ONE-Mobile-Title';
    color: rgba(0, 0, 0, 0.50);
    padding-right: 0.625em;
    font-size: 1.188rem;
}
.source {
    width: 6.250em; height: 2.500em;
    position: absolute; 
    top:50% ;left: 11.250em;
    transform: translateY(-50%);
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 2.3;

}
.source:hover { 
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    transition: all .6s;
}
.afterBtn {
    width: 12.500em; height: 3.375em;
    color: #fff;
    background: #000;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    margin-top: 37.500em;
    text-align: center;
    
}
.afterBtn a {
    display: block;
    padding: 0.625em;
}
.afterBtn:hover {
    background: #fff;
    color: #000;
    transition: all .6s;
}


/* 3 second */
.secondhomeTitle {
    font-size:4.938rem ;
    position: relative;
    color: #ffff;
    background: rgb(189, 110, 46);
    border-bottom-left-radius: 40px;
    font-weight: bold;
    padding: 0 0 10px 20px;
    margin-bottom: 50px;
}
/* .secondhomeTitle::before {
    content: "";
    position: absolute;
    top:145px; left: 450px;
    transform: translateY(-85%);
    display: block;
    width: 150px;
    height: 100px;
    background: url("../img/sulwhasooLogo.png") no-repeat 0 0;
    background-size: 100%;
} */

/* before */

.secondBF, .secondAT {
    font-size: 2.188rem;
    font-weight: bold;
    display: block;
    color: rgb(189, 110, 46);
    padding-bottom: 0.313em;
    margin-bottom: 1.250em;
    position: relative;
}
.secondBF::after {
    content: '';
    width: 130px; height: 2px;
    background: rgb(189, 110, 46);
    position: absolute;
    top: 100%; left: 0;
}
.secondAT {margin-bottom: 0;}
.secondAT::after {
    content: '';
    width: 105px; height: 2px;
    background: rgb(189, 110, 46);
    position: absolute;
    top: 100%; left: 0;
}

.secondbeforeTitle {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}
.secondbeforeTitle > span,
.secondbeforeTitle2 > span{ box-shadow: inset 0 -20px 0 #ffd6a1;}

.secondbeforeTitle2 {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    
}
.secondbeforeTitle::after {
    content: "";
    position: absolute;
    top: -10px; left: 0;
    transform: translateY(-85%);
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/lamp.png") no-repeat 0 0;
    background-size: 100%;
}
.secondbeforeArea2 {
    float: right;
    position: absolute;
    top: 65%; left: 63%;
    width: 21.250em;
}


/* third */
.thirdhomeTitle {
    font-size:4.938rem ;
    position: relative;
    color: #ffff;
    background: rgb(83, 146, 189);
    border-bottom-left-radius: 40px;
    font-weight: bold;
    padding: 0 0 10px 20px;
    margin-bottom: 50px;
}

/* before */

.thirdBF, .thirdAT {
    font-size: 2.188rem;
    font-weight: bold;
    display: block;
    color: rgb(83, 146, 189);
    padding-bottom: 0.313em;
    margin-bottom: 1.250em;
    position: relative;
}
.thirdBF::after {
    content: '';
    width: 130px; height: 2px;
    background: rgb(94, 163, 209);
    position: absolute;
    top: 100%; left: 0;
}
.thirdAT {margin-bottom: 0;}
.thirdAT::after {
    content: '';
    width: 105px; height: 2px;
    background: rgb(94, 163, 209);
    position: absolute;
    top: 100%; left: 0;
}

.thirdbeforeTitle {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}
.thirdbeforeTitle > span,
.thirdbeforeTitle2 > span{ box-shadow: inset 0 -20px 0 rgb(94, 163, 209);}

.thirdbeforeTitle2 {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    
}
.thirdbeforeTitle::after {
    content: "";
    position: absolute;
    top: -10px; left: 0;
    transform: translateY(-85%);
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/lamp.png") no-repeat 0 0;
    background-size: 100%;
}
.thirdbeforeArea2 {
    float: right;
    position: absolute;
    top: 65%; left: 63%;
    width: 21.250em;
}

/* 5 */
/* swiper */
.swiper {
    float: left;
    width: 430px;
    height: 750px;
    margin-left: 100px;
    box-shadow: 15px 15px 15px rgba(196, 196, 196, 0.74);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: scroll;
}
.slide1 img { 
    width: 100%;
}
.swiper-slide::-webkit-scrollbar { width: 10px;}
.swiper-slide::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 10px;
}
.swiper-slide::-webkit-scrollbar-track {border-radius: 10px;}
.swiper-button-next:after, .swiper-button-prev:after {
    color: rgba(0, 0, 0, 0.4);
}

.fourthhomeTitle {
    font-size:4.938rem ;
    position: relative;
    color: #ffff;
    background: rgb(255, 218, 188);
    border-bottom-left-radius: 40px;
    font-weight: bold;
    padding: 0 0 10px 20px;
    margin-bottom: 50px;
}
.fourthhomeTitle > span {
    font-size: 2.938rem;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}

/* before */
.fourthbeforeCont {

}
.fourthBF, .fourthAT {
    font-size: 2.188rem;
    font-weight: bold;
    display: block;
    color: rgb(189, 110, 46);
    padding-bottom: 0.313em;
    margin-bottom: 1.250em;
    position: relative;
}
.fourthBF::after {
    content: '';
    width: 130px; height: 2px;
    background: rgb(189, 110, 46);
    position: absolute;
    top: 100%; left: 0;
}
.fourthAT {margin-bottom: 0;}
.fourthAT::after {
    content: '';
    width: 105px; height: 2px;
    background: rgb(94, 163, 209);
    position: absolute;
    top: 100%; left: 0;
}

.fourthbeforeTitle {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}
.fourthbeforeTitle > span,
.fourthbeforeTitle2 > span{ box-shadow: inset 0 -20px 0 #ffd6a1;}

.fourthbeforeTitle2 {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    
}
.fourthbeforeTitle::after {
    content: "";
    position: absolute;
    top: -10px; left: 0;
    transform: translateY(-85%);
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/lamp.png") no-repeat 0 0;
    background-size: 100%;
}
.fourthbeforeArea2 {
    float: right;
    position: absolute;
    top: 65%; left: 63%;
    width: 21.250em;
}
.afterCont2 {
    width: 100%; height: 100vh;  
}
.order {
    width: 100%;
    position: absolute;
    top:105%; left: 0;
    text-align: center;
    overflow: hidden;
}
.afterCont2 h2 { 
    width: 360px;
    background: #ffd6a1;
    margin-bottom:2.188em ;
    padding: 20px 0;
    border-radius: 20px;
}
.afterCont2 ul { 
    width:100%; height: 700px;
    box-sizing: border-box;
}
.afterCont2 ul li {
    position: relative;
    width: 300px;
    text-align: center;
    font-size:1.008rem ;
    font-family: 'ONE-Mobile-Regular';
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.625em;
    padding: 0.938em 1.563em;
    margin-bottom: 1.875em; 
}
.afterCont2 ul li::after {
    content: "";
    position: absolute;
    bottom: -2.525em; left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 1.875em;
    height: 2.500em;
    background: url("../img/dawon.png") no-repeat 0 0;
    background-size: 100%;
}
.afterCont2 ul li:last-child::after {display: none;}
.afterCont2 .order > img{
    position: absolute;
    top: 0; left:85%;
    transform: translateX(-85%);
    width: 800px;
    font-size: 5em;
    animation: motion 0.8s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               infinite alternate; /* 무한 반복 */
  }
  @keyframes motion {
	0% {margin-top: 0px;} /* 처음 위치 */
	100% {margin-top: 18px;} /* 마지막 위치 */

}

  /* fifth */
.fifthhomeTitle { 
    font-size:4.938rem ;
    position: relative;
    color: #ffff;
    background: #ff0558;
    border-bottom-left-radius: 40px;
    font-weight: bold;
    padding: 0 0 10px 20px;
    margin-bottom: 50px;
}

.fifthhomeTitle > span {
    font-size: 2.938rem;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}
/* before */
.fifthbefore {
    width: 100%; height: 140vh; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fifthbeforeCont {
    margin-top:3.125em;
}
/* swiper */
.swiper3 {
    float: left;
    width: 90%;
    height: 650px;
    box-shadow: 15px 15px 15px rgba(196, 196, 196, 0.74);

}
.slide3 {
    text-align: center;
    font-size: 18px;
    background: #000;
    overflow: scroll;
}
.slide3 img { 
    width: 100%;
}
.slide3::-webkit-scrollbar::-webkit-scrollbar { width: 8px; background: #ffffff9a;}
.slide3::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
}
.slide3::-webkit-scrollbar-track {display: none;}
.swiper-button-next:after, .swiper-button-prev:after {
    color: rgba(199, 199, 199, 0.3);
}
.fifthBF, .fifthAT {
    font-size: 2.188rem;
    font-weight: bold;
    display: block;
    color: #ff0558;
    padding-bottom: 0.313em;
    margin-bottom: 1.250em;
    position: relative;
}
.fifthBF::after {
    content: '';
    width: 170px; height: 2px;
    background: #ff0558ab;
    position: absolute;
    top: 100%; left: 0;
}
.fifthAT {margin-bottom: 0;}
.fifthAT::after {
    content: '';
    width: 105px; height: 2px;
    background: #ff0558ab;
    position: absolute;
    top: 100%; left: 0;
}
.fifthsTitle {
    font-size:1.163rem ;
    margin-bottom:1.625em ;
}
.fifthbeforeArea {
    width: 31.250em;
    position: absolute;
    bottom: -35%; left: 0;
}
.fifthbeforeTitle {
    font-size: 2.188rem;
    width: 100%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
}
.fifthbeforeTitle > span,
.fifthbeforeTitle2 > span{ box-shadow: inset 0 -20px 0 #ff0558ab;}
.fifthbeforeArea2 {
    width: 31.250em;
    float: right;
    position: absolute;
    bottom: -47%; left: 52%;
    
}
.fifthbeforeTitle2 {
    font-size: 2.188rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 0.625em;
    margin-bottom: 0.625em;
    
}
.fifthbeforeTitle::after {
    content: "";
    position: absolute;
    top: -10px; left: 0;
    transform: translateY(-85%);
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/lamp.png") no-repeat 0 0;
    background-size: 100%;
}
.fifthbeforeText {
    font-size: 0.998rem;
    line-height: 1.8;
}
.fifthbeforeText2 {
    font-size: 0.998rem;
    line-height: 1.8;
}

/* after */

.after .useTo > h1 {
    font-size:3.038rem ;
    display: inline-block;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 6px 2px gray;
    margin-right: 0.625em;
    margin-bottom: 50px;
}
.after .useTo img {
    width:1.875em ;
    border-radius: 5px;
    margin-top: -60px;

}
.fifthafterCont {
    overflow: hidden;
    height: 135vh;
}
.fifthafter img {width: 100%;}
.fifthafterArea {
    position: absolute;
    bottom: -20%; left: 0;
    width: 68.750em; height: 18.750em;
    border:  1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1.250em;
    padding: 4.375em 0 0 12.500em;

}
.fifthafterArea::after {
    content: '';
    width: 1px; height: 280px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40px; left: 47%;
}

.fifthafterText {
    height: 70px;
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: left;
}
.fifthafterText p {
    margin-bottom: 50px;
}
.left { 
    float: left;
    width: 50%;
}
.right { 
    float: right;
    width: 50%;
}
.afterText span {
    font-family: 'ONE-Mobile-Title';
    color: rgba(0, 0, 0, 0.50);
    padding-right: 0.625em;
    font-size: 1.188rem;
}
.source {
    width: 100px; height: 40px;
    transform: translateY(-50%);
    border: 1px solid rgba(0, 0, 0, 0.2); 
    text-align: center;
    line-height: 2.3;
    padding: 0.313em 0.938em;
}
.source:hover { 
    color: #000;
    background: #fff;
    border-color: rgba(0, 0, 0, 0.2 );
    transition: all .6s;
}
.fifthafterBtn {
    width: 12.5em;
    height: 3.375em;
    color: #fff;
    background: #000;
    transition: all .6s;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    margin-top: 3.125em;
    text-align: center;

}
.fifthafterBtn a {
    display: block;
    padding: 0.625em;
}
.fifthafterBtn:hover {
    background: #fff;
    color: #000;
}
